.background {
    background-color: black;
}

.textHome {
    color: white;
}


/* .element.style {
    height: auto;
    position: left;
    width: 100%;
} */

.container{
    max-width: 10000px;
    width:100%;
    margin:0 auto;
    position:absolute;
    height:100px;
    }

    .kontainer{
        max-width: 2000px;
        width:900px;
        max-height: 1000px;
        margin:0 auto;
        position:absolute;
        height:10px;
        }

