<!--<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  
    <main class="px-3">
      <h1>Dębowy Design wita!</h1>
      <p class="lead">U nas znajdziesz cos dla siebie i swojego domu.</p>
      <p class="lead">
      
      </p>
    </main>
  
    
  </div>

-->


 <!-- <div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Zaloguj się aby wejść do świata mebli z drewna</h1>
      <p class="col-lg-10 fs-4"></p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="e-mail@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="hasło">
          <label for="floatingPassword">Hasło</label>
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Zapamiętaj
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
        <hr class="my-4">
        <small class="text-muted">Klikając przycisk Zaloguj akceptujesz wszystkie poświadczenia licencyjne</small>
       
        
      </form>
    </div>
  </div>
</div>  -->


<div class="container col-xl-11 col-xxl-7 px-3 py-7">
  <div style="float:right;width:800px; height: 300px; bottom: 200px;">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-12 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-5">Wejdź do świata mebli z drewna dębowego</h1>
        <p class="col-lg-10 fs-4"></p> 
        <div class="d-grid d-sm-flex gap-3">
      </div>  
      <div>
        <a class="btn btn-primary btn-transition px-6">Galeria zdjęć</a>
        <a class="btn btn-link">Rejestracja <i class="bi-chevron-right small ms-1"></i></a>
      </div>
    </div>
  </div>
</div> 
<div class="photoContainer col-xl-10 col-xxl-8 px-5 py-5">
  <img src="https://scontent.fpoz4-1.fna.fbcdn.net/v/t1.15752-9/277080588_789066255394300_6270921231177767419_n.png?_nc_cat=106&ccb=1-5&_nc_sid=ae9488&_nc_ohc=MkvbWmWC_R0AX81lq74&_nc_ht=scontent.fpoz4-1.fna&oh=03_AVJYHOTeWcCPJNy2B4ULJcI2_R5xtl7zX3AxUGUfiXR5uw&oe=6265E003" alt="zdjęcie zyrandola" width="1222px" height="1000px"  style="height:auto ; position: relative; width: 100%;">
</div>


