<div class="container">
  <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.6435-9/154976259_102164288600715_8329625863563463990_n.png?_nc_cat=107&ccb=1-5&_nc_sid=973b4a&_nc_ohc=E3ZtN3dy5_EAX9iUFFs&_nc_ht=scontent-waw1-1.xx&oh=00_AT_joc6JJTQrvhwO-oujpESOho3DQccTe1PyvCNY-DzUog&oe=6273BD20"
           alt="" class="img-fluid rounded-circle mx-5" width="60" height="60">
      <h3 class="float-md-start mb-0">Dębowy Design</h3>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 ">Meble</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">O nas</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Meble na wymiar</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Kontakt</a></li>
      <li> <a class="btn btn-primary btn-transition mx-5" routerLink="/login">Zaloguj się</a></li>

      <!-- <button class="btn btn-outline-success" type="submit">Zaloguj</button> -->
    </ul>


  </nav>
</div>
