<div class="container pt-5">
  <div class="mb-10 text-center text-lg-start">
    <div class="px-4 py-5 px-md-5" style="background-color: hsl(0, 0%, 96%)">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h2 class="my-5 display-6 ls-tight">
            <span>Dzieli cię tylko jeden krok&nbsp;</span>
            <br>
            <span class="text-primary">od wymarzonego wnętrza</span>
          </h2>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control">
                  <label class="form-label" for="form3Example3" style="margin-left: 0px;">Email</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;">
                    </div>
                    <div class="form-notch-middle" style="width: 88.80000000000001px;">
                    </div>
                    <div class="form-notch-trailing">
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" class="form-control">
                  <label class="form-label" for="form3Example4" style="margin-left: 0px;">Hasło</label>
                  <div class="form-notch">
                    <div class="form-notch-leading" style="width: 9px;">
                    </div>
                    <div class="form-notch-middle" style="width: 64.80000000000001px;">
                    </div>
                    <div class="form-notch-trailing">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn     btn-primary btn-block mb-4" aria-controls="#picker-editor">Zaloguj się</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
